@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body {
  margin: 0;
  width: 100%;
  padding:0;
  background-color: rgb(238, 238, 238);
  overflow-x: hidden;
  user-select: none;

}

img {
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
body {
  background-color: #0D1117;
}
}
